.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

.item header{
    padding:5px;
}
.item p{
    padding:5px;
}

.item{
    border-bottom: 1px solid lightgray;
}

.hidden{
    display: none !important;
}

.comment-section{
    min-height: 80px;
}

.comment-section textarea{
    margin: 5px;
    padding:3px;
    width: 95%;
    height: 100px;
}